@import "../node_modules/mini.css/dist/mini-default.min.css";

.box-colored {
  background: #e2e2e2;
  border-radius: 0.125rem;
  padding: 0.875rem;
  margin-bottom: 0.5rem;
  min-height: 0.875rem;
  color: #212121;
  display: flex;
}

.box-colored.align-center {
  align-items: baseline;
  justify-content: center;
}

.box-colored.primary {
  background: #2196f3;
  color: #f8f8f8;
}

.box-colored.secondary {
  background: #f44336;
  color: #f8f8f8;
}

.box-colored.tertiary  {
  background: #6fbf73;
  color: #f8f8f8;
}

.box-colored.tertiary.yellow {
  background-color: #FFF59D;
  color: #212121;
}